{% extends 'general/base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
<div class="container">
    <h1>Mot de passe oublié</h1>
    {{ form(emailForm) }}
</div>
{% endblock %}