{% extends 'general/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="container card mt-5 pb-3">
            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <label for="inputEmail">Adresse email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" required
                   autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="row mt-3 justify-content-center align-items-baseline">
                <button class="btn btn-dark mr-2" type="submit">
                    Connexion
                </button>
                <a href="{{ path('app_forgotten_password') }}" class="ml-2">Mot de passe oublié ?</a>
            </div>
        </div>
    </form>



{% endblock %}
