{% extends ('general/base.html.twig') %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css">
    <style>
        #map {
            height: 60vh;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
             style="width: 100%; height: 60%">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://picsum.photos/1200/400" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/1200/400" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://loremflickr.com/1200/400?random=3" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <hr>
        <div class="container">
            <section class="lastpost" id="lastpost">
                <h2 class="mt-2">Dernières actualités</h2>
                <hr>
                <div class="row allCard">
                    {% for post in posts %}
                        <div class="col-md-3 cardperso">
                            <img src="{{ post.picture }}" alt="photo">
                            <h5>{{ post.title|u.truncate(15, '...') }}</h5>
                            <p>{{ post.content|u.truncate(100, '...') }}</p>
                            <hr>
                            {% if post.vip %}
                                <span class="text-center"><strong>Article exclusif </strong>
                                    <i class="fa fa-key"></i>
                                </span>
                            {% endif %}
                            <span>
                                <p class="badge badge-dark">{{ post.comments.count }} commentaire(s)</p>
                            </span>
                            <hr>
                            <div class="row justify-content-center">
                                {% if post.vip and not is_granted('ROLE_USER') %}
                                    <a href="{{ path('app_login') }}" class="button button-grey">Se connecter</a>
                                {% else %}
                                    <a href="{{ path('get_post_public', {slug: post.slug}) }}"
                                       class="button button-grey">Voir
                                        plus</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <hr>
            <section id="presentation">
                <h2>Présentation</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.3</p>
            </section>
            <hr>
            <section id="contact">
                <h1>Formulaire de contact</h1>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </section>
            <hr>
            <section class="mb-4" id="plan">
                <h2>Plan d'accès</h2>
                <div id="map" class="text-center col-md-12"></div>
            </section>
            {% block javascripts %}
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                        crossorigin=""></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
                {{ encore_entry_script_tags('map') }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
