{% extends 'general/base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark">S'inscrire !</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
