{% extends ('general/base.html.twig') %}
{% block title %}Editer un commentaire{% endblock %}
{% block body %}
    <div class="container">
        <h1>Edition "{{ comment.title }}"</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <h4>Publié le : {{ comment.publishAt|date('d-m-Y') }} - Par : {{ comment.user.firstName }}</h4>
    </div>
{% endblock %}
