{% extends 'admin/index.html.twig' %}
{% block title %}Administration des commentaires{% endblock %}
{% block content %}
    <h1 class="mt-2">Administration des commentaires</h1>
    <hr>
    <form class="row justify-content-around align-items-center">

        <div class="form-row text-center">
            {{ form_start(form) }}
            <div class="col">
                {{ form_row(form.title) }}
            </div>
            <div class="col">
                {{ form_row(form.publishStart) }}
            </div>
            <div class="col">
                {{ form_row(form.publishEnd) }}
            </div>
            <div class="col">
                {{ form_row(form.limit) }}
            </div>
        </div>
        <div class="form-row text-center">
                {{ form_row(form.rechercher) }}
            {{ form_end(form) }}
        </div>
    </form>
    <div class="row justify-content-center">
        <p class="badge badge-danger rounded">{{ comments.totalItemCount }} Commentaires publiés</p>
    </div>
    <div class="row justify-content-around align-items-center">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col" class="align-middle">ID</th>
                <th scope="col" class="align-middle">Commentaire</th>
                <th scope="col" class="align-middle">Date de publication</th>
                <th scope="col" class="align-middle">Article</th>
                <th scope="col" class="align-middle">Auteur</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td class="align-middle">{{ comment.id }}</td>
                    <td class="align-middle">{{ comment.title }}</td>
                    <td class="align-middle">{{ comment.publishat|date('d-m-Y') }}</td>
                    <td class="align-middle">{{ comment.post.title }}</td>
                    <td class="align-middle">{{ comment.user.firstname }} {{ comment.user.lastname }} </td>
                    <td class="align-middle"><a href="#" class="btn-sm btn-outline-dark dropdown-toggle"
                                                data-toggle="dropdown">
                            <i class="fas fa-cogs"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{{ path('update_comment', {slug: comment.post.slug, id: comment.id}) }}">Modifier</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{{ path('app_delete_comment', {slug: comment.post.slug, id: comment.id, _csrf_token: csrf_token('delete_comment')}) }}">Supprimer</a>
                        </div>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(comments) }}
    </div>
{% endblock %}