{% extends 'admin/index.html.twig' %}
{% block title %}Administration des catégories{% endblock %}
{% block content %}
    <h1 class="mt-2">Administration des catégories</h1>
    <hr>
    <div class="row justify-content-center">
        <a href="{{ path('app_admin_create_category') }}" class="btn btn-sm btn-info mb-3">Créer une catégorie</a>
    </div>
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <table class="table text-center">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Intitulé</th>
                    <th scope="col" class="align-middle">Nombre d'articles</th>
                    <th scope="col" class="align-middle">Voir articles</th>
                    <th scope="col" class="align-middle">Opérations</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td class="align-middle">{{ category.name|upper }}</td>
                        <td class="align-middle"><h4><span class="badge badge-danger">{{ category.posts.count }}</span>
                            </h4></td>
                        <td class="align-middle"><a
                                    href="{{ path('app_posts_by_category', { category: category.name}) }}"
                                    class="btn btn-sm btn-dark">Consulter</a></td>
                        <td>
                            <a href="#" class="btn-sm btn-outline-dark dropdown-toggle"
                               data-toggle="dropdown">
                                <i class="fas fa-cogs"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   href="{{ path('app_admin_update_category', {id: category.id }) }}">Modifier</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{{ path('app_admin_delete_category', {_csrf_token: csrf_token('delete_category'), id: category.id}) }}">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                œ
            </table>
        </div>
    </div>
{% endblock %}
