{{ encore_entry_link_tags('app') }}
<header>
    <div class="row">
        <div class="col-md-6 rs">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.snapchat.com" target="_blank"><i class="fab fa-snapchat"></i></a>
            <a href="https://www.viadeo.com" target="_blank"><i class="fab fa-viadeo"></i></a>
        </div>
        <div class="col-md-6 login">
            <a href="#">Inscription</a>
        </div>
    </div>
    <nav>
        <div class="col-md-2 logo">
            <img src="#" alt="Logo">
        </div>
        <div class="col-md-10 menu">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Qui sommes-nous ?</a></li>
                <li><a href="#lastpost">Actualités</a></li>
                <li><a href="#contact">Nous contacter</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="row justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 100%; height: 60%">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://picsum.photos/1200/400" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://picsum.photos/1200/400" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://loremflickr.com/1200/400?random=3" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <section class="lastpost" id="lastpost">
        <h2 class="mt-2">Dernières actualités</h2>
        <hr>
        <div class="row allCard">
            <div class="col-md-3 cardperso">
                <img src="https://picsum.photos/id/237/300/200" alt="photo">
                <h5>Titre du post</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book...
                </p>
                <hr>
                <span>
                    <strong>Article exclusif  </strong>
                    <i class="fa fa-key"></i>
                </span>
                <span>
                    <p class="badge badge-dark">1 Commentaire</p>
                </span>
                <hr>
                <div class="row justify-content-center">
                    <a href="" class="button button-grey">Se connecter</a>
                </div>
            </div>
            <div class="col-md-3 cardperso">
                <img src="https://picsum.photos/id/237/300/200" alt="photo">
                <h5>Titre du post</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book...
                </p>
                <hr>
                <span>
                    <p class="badge badge-dark">1 Commentaire</p>
                </span>
                <hr>
                <div class="row justify-content-center">
                    <a href="" class="button button-grey">Voir plus</a>
                </div>
            </div>
            <div class="col-md-3 cardperso">
                <img src="https://picsum.photos/id/237/300/200" alt="photo">
                <h5>Titre du post</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book...
                </p>
                <hr>
                <span><i class="fas fa-star"></i>
                    <strong>    Article exclusif</strong>
                </span>
                <span>
                    <p class="badge badge-dark">1 Commentaire</p>
                </span>
                <hr>
                <div class="row justify-content-center">
                    <a href="" class="button button-grey">Se connecter</a>
                </div>
            </div>

        </div>
        <div class="allposts">
            <a href="#" class="button button-red">Voir toutes les actualités !</a>
        </div>
    </section>
    <section id="contact">
        <h2>Formulaire de contact</h2>
    </section>

</div>
<footer>
    <h4>NOS COORDONNÉES</h4>
</footer>
{{ encore_entry_script_tags('app') }}

</body>

