{% extends 'general/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-2 col-sm-12 sidenav">
            {% include ('admin/sidenav.html.twig') %}
        </div>
        <div class="col-md-9 col-sm-12">
            <div id="page-content-wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}