<div id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center">DashBoard</div>
        <div class="list-group list-group-flush">
            <a href="{{ path('app_admin_dashboard') }}" class="list-group-item list-group-item-action bg-light">Tableau de bord</a>
            <a href="{{ path('app_admin_users') }}" class="list-group-item list-group-item-action bg-light">Utilisateurs</a>
            <a href="{{ path('app_admin_posts') }}" class="list-group-item list-group-item-action bg-light">Articles</a>
            <a href="{{ path('app_admin_categories') }}" class="list-group-item list-group-item-action bg-light">Catégories</a>
            <a href="{{ path('app_admin_get_comments') }}" class="list-group-item list-group-item-action bg-light">Commentaires</a>
        </div>
    </div>
</div>
