{% extends 'admin/index.html.twig' %}
{% block title %}Statistiques{% endblock %}
{% block stylesheet %}
    {{ encore_entry_link_tags('chart') }}
{% endblock %}
{% block content %}
    <h1>Tableau de bord</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6" style="position: relative; height:40vh; width:30vw">
            <canvas id="posts"></canvas>
            <p class="text-center">{{ posts|length }} articles publiés</p>
        </div>
        <div class="col-md-6" style="position: relative; height:40vh; width:30vw">
            <canvas id="categories"></canvas>
        </div>
    </div>
    <hr>
    <section class="mb-5 text-center">
        <h2>Contact support technique</h2>
        <strong>Numéro support technique : +3949</strong>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('chart') }}
    <script>
        let posts = document.querySelector('#posts')
        let postYear = new Chart(posts, {
            type: "bar",
            data: {
                labels:
                    [
                        {% for post in posts %}
                        {{ post.publishAt|date('Y') }},
                        {% endfor %}
                    ],
                datasets: [{
                    label: "Evolution des articles",
                    data: [
                        {% for post in posts %}
                        {{ loop.index }},
                        {% endfor %}
                    ],
                }]
            }
        })

        let categories = document.querySelector('#categories');
        let postByCategory = new Chart(categories, {
            type: "pie",
            data: {
                labels:
                    [
                        {% for category in totalPostsByCategory %}
                        "{{ category.name|capitalize|escape('js') }}",
                        {% endfor %}
                    ],
                datasets: [{
                    label: "Repartition des articles par catégorie",
                    data:
                        [
                            {% for category in totalPostsByCategory %}
                            {{ category.count }},
                            {% endfor %}
                        ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                    ]
                }]
            }
        })
    </script>
{% endblock %}