<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AC Blog - {% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include ('general/navbar.html.twig') %}
    <main>
        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div class="row justify-content-center pt-3">
            <div class="col-md-6 text-center">
                <h5>Mentions légales</h5>
                <p>COPYRIGHT {{ "now"|date("Y") }}</p>
                <p>04.72.58.XX.XX</p>
                <p>25 rue de la fougère - 63000 CLERMONT-FERRAND</p>
            </div>
            <div class="col-md-6">
                <h5>Navigation</h5>
                <div class="footenav">
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('home') }}#presentation">Qui sommes-nous ?</a></li>
                        <li><a href="{{ path('get_posts') }}">Actualités</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item"><a href="{{ path('get_posts_vip') }}" style="color: darkred">V.I.P</a></li>
                        {% endif %}
                        <li class="nav-item"><a href="{{ path('home') }}#contact">Nous contacter</a></li>
                        <li class="nav-item"><a href="{{ path('home') }}#plan">Plan d'accès</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
