<header>
    <div class="row">
        <div class="col-md-6 rs">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.snapchat.com" target="_blank"><i class="fab fa-snapchat"></i></a>
            <a href="https://www.viadeo.com" target="_blank"><i class="fab fa-viadeo"></i></a>
            <div class="row nowrap ml-5 form-inline my-2 my-lg-0">
                {{ render(controller(
                    'App\\Controller\\PostController:searchPost'
                )) }}

            </div>
        </div>
        <div class="col-md-6 login">
            {% if is_granted('ROLE_USER') %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown"></li>
                    <a href="#" class="nav-link dropdown-toggle topbtn" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_profil_user', {slug: app.user.slug }) }}">Mon
                            profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
                    </div>
                </ul>
            {% else %}
                <a href="{{ path('app_login') }}" class="topbtn">Espace membre</a>
            {% endif %}
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="logo navbar-brand">
            <a href="{{ path('home') }}"><img src="{{ asset('/img/logo.png') }}" width="60px" alt="Logo"></a>
        </div>
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
                aria-label="Toggle navigation"><span class="dark-blue-text">
    <i class="fa fa-bars fa-1x"></i></span>
        </button>
        <div class="menu collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="nav-item"><a href="{{ path('home') }}#presentation">Qui sommes-nous ?</a></li>
                <li class="nav-item"><a href="{{ path('get_posts') }}">Actualités</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item"><a href="{{ path('get_posts_vip') }}" style="color: darkred">V.I.P</a></li>
                {% endif %}
                <li class="nav-item"><a href="{{ path('home') }}#contact">Nous contacter</a></li>
                <li class="nav-item"><a href="{{ path('home') }}#plan">Plan d'accès</a></li>

                {% if not is_granted('ROLE_USER') %}
                    <li class="nav-item"><a href="{{ path('app_register') }}">Devenir membre</a></li>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a href="{{ path('app_admin_dashboard') }}">Administration</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>