$blackish: #202020;
$darkGrey: #3F3F3F;
$mediumGrey: #707070;
$white: #FFFFFF;
$blue: #007cc7;

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Comfortaa';
  src: url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

body {
  font-family: 'Comfortaa', cursive;

  header {
    background-color: $blackish;

    .row {
      display: flex;
      justify-content: center;
      height: 36px;
      align-items: center;

      .rs {
        display: flex;
        justify-content: flex-start;
        padding-left: 5%;
        align-items: center;
        color: $white;

        a {
          color: $white;
          text-decoration: none;
          padding-left: 20px;
        }
      }

      .login {
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .topbtn {
          text-decoration: none;
          border-radius: 2px;
          font-size: 12px;
          padding: 3px 20px 3px 20px;
          letter-spacing: 1px;
          color: $darkGrey;
          background-color: $white;
          box-shadow: grey 1px 1px;
        }

        .topbtn:hover {
          transform: scale(0.9);
          color: $mediumGrey;
        }

      }
    }

    .navbar {
      background-color: white !important;
      height: 100px;
    }

    nav {
      display: flex;
      border-bottom: solid $mediumGrey 1px;
      background-color: white;
      box-shadow: $darkGrey;

      .logo {
        padding-left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .menu {
        padding-right: 5%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        li {
          height: 100%;
          display: inline-block;
          list-style-type: none;
          padding: 0 15px 0 15px;
        }

        li > a {
          color: $darkGrey;
          font-size: 15px;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
        }

        li a:after {
          content: '';
          display: block;
          margin: auto;
          height: 2px;
          width: 0;
          background: transparent;
          transition: width .5s ease, background-color .5s ease;
        }

        li a:hover:after {
          width: 90%;
          background: #2292A4;
        }
      }
    }
  }

  .lastpost {
    height: 70vh;

    h2 {
      color: $darkGrey;
      display: flex;
      justify-content: center;
      margin: 10px 0 10px 0;
    }

    .allCard {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .cardperso {
      border: solid 1px lightgray;
      overflow: hidden;
      padding: 0 0 10px 0;
      border-radius: 2px;
      box-shadow: $mediumGrey 1px;
    }

    h5 {
      text-decoration: underline grey;
    }

    img {
      height: 21vh;
      margin-bottom: 15px;
    }

    p {
      padding: 0 3px 0 3px;
      text-align: justify;
      margin-top: 15px;
      font-size: small;
    }

    span {
      display: flex;
      align-items: baseline;
      color: $darkGrey;
      text-transform: uppercase;
      justify-content: center;
    }

    .button {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
    }

    .button:hover {
      box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0px, -10px) scale(1.2);
      transform: translate(0px, -10px) scale(1.2);
    }

    .button-grey {
      background: $darkGrey;
    }

    .button-red {
      background: #2292A4;
    }

    .allposts {
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }


  }

  #contact {
    height: 70vh;
  }

  .sidenav {
    padding-left: 0;
    margin-left: 0;
    display: flex;

    #wrapper {
      overflow-x: hidden;
    }

    #sidebar-wrapper {
      min-height: 100%;
      margin-left: -15rem;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
      width: 15rem;
    }

    #page-content-wrapper {
      min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }

    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }

      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }

      #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
    }
  }

  footer {
    height: 20vh;
    border-top: solid lightgray 1px;
    background-color: whitesmoke;

    .footenav {
      display: flex;
      justify-content: center;

      li {
        list-style: none;
      }
    }
  }
}

.pagination > li > a {
  color: black;
}

.pagination > li:active {
  background-color: lightgray !important;
}

@font-face {
  font-family: 'Titillium Web' ;
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
}