* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Comfortaa";
  src: url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
}
h1, h2, h3, h4, h5 {
  text-align: center;
}

body {
  font-family: "Comfortaa", cursive;
}
body header {
  background-color: #202020;
}
body header .row {
  display: flex;
  justify-content: center;
  height: 36px;
  align-items: center;
}
body header .row .rs {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  align-items: center;
  color: #FFFFFF;
}
body header .row .rs a {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 20px;
}
body header .row .login {
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body header .row .login .topbtn {
  text-decoration: none;
  border-radius: 2px;
  font-size: 12px;
  padding: 3px 20px 3px 20px;
  letter-spacing: 1px;
  color: #3F3F3F;
  background-color: #FFFFFF;
  box-shadow: grey 1px 1px;
}
body header .row .login .topbtn:hover {
  transform: scale(0.9);
  color: #707070;
}
body header .navbar {
  background-color: white !important;
  height: 100px;
}
body header nav {
  display: flex;
  border-bottom: solid #707070 1px;
  background-color: white;
  box-shadow: #3F3F3F;
}
body header nav .logo {
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body header nav .menu {
  padding-right: 5%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body header nav .menu li {
  height: 100%;
  display: inline-block;
  list-style-type: none;
  padding: 0 15px 0 15px;
}
body header nav .menu li > a {
  color: #3F3F3F;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
body header nav .menu li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
body header nav .menu li a:hover:after {
  width: 90%;
  background: #2292A4;
}
body .lastpost {
  height: 70vh;
}
body .lastpost h2 {
  color: #3F3F3F;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
body .lastpost .allCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .lastpost .cardperso {
  border: solid 1px lightgray;
  overflow: hidden;
  padding: 0 0 10px 0;
  border-radius: 2px;
  box-shadow: #707070 1px;
}
body .lastpost h5 {
  text-decoration: underline grey;
}
body .lastpost img {
  height: 21vh;
  margin-bottom: 15px;
}
body .lastpost p {
  padding: 0 3px 0 3px;
  text-align: justify;
  margin-top: 15px;
  font-size: small;
}
body .lastpost span {
  display: flex;
  align-items: baseline;
  color: #3F3F3F;
  text-transform: uppercase;
  justify-content: center;
}
body .lastpost .button {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
body .lastpost .button:hover {
  box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
  transform: translate(0px, -10px) scale(1.2);
}
body .lastpost .button-grey {
  background: #3F3F3F;
}
body .lastpost .button-red {
  background: #2292A4;
}
body .lastpost .allposts {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
body #contact {
  height: 70vh;
}
body .sidenav {
  padding-left: 0;
  margin-left: 0;
  display: flex;
}
body .sidenav #wrapper {
  overflow-x: hidden;
}
body .sidenav #sidebar-wrapper {
  min-height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
body .sidenav #sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
body .sidenav #sidebar-wrapper .list-group {
  width: 15rem;
}
body .sidenav #page-content-wrapper {
  min-width: 100vw;
}
body .sidenav #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  body .sidenav #sidebar-wrapper {
    margin-left: 0;
  }
  body .sidenav #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  body .sidenav #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
body footer {
  height: 20vh;
  border-top: solid lightgray 1px;
  background-color: whitesmoke;
}
body footer .footenav {
  display: flex;
  justify-content: center;
}
body footer .footenav li {
  list-style: none;
}

.pagination > li > a {
  color: black;
}

.pagination > li:active {
  background-color: lightgray !important;
}

@font-face {
  font-family: "Titillium Web";
  src: url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
}

/*# sourceMappingURL=app.css.map */
