<h1>Activation de votre compte</h1>
<p>Vous venez de créer un compte. Pour activer votre compte veuillez cliquer sur le lien :
    <a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a>
</p>
