{% extends 'admin/index.html.twig' %}
{% block title %}Administration des articles{% endblock %}
{% block content %}
    <h1 class="mt-2">Administration des articles</h1>
    <hr>
    <form class="row justify-content-around align-items-center">
        {{ form_start(form) }}
        <div class="form-row text-center">
            <div class="col">
                {{ form_row(form.title) }}
            </div>
            <div class="col">
                {{ form_row(form.vip) }}
            </div>
            <div class="col">
                {{ form_row(form.category) }}
            </div>
            <div class="col">
                {{ form_row(form.limit) }}
            </div>

        </div>
        <div class="form-row text-center">
            <div class="col">
                {{ form_row(form.publishStart) }}
            </div>
            <div class="col">
                {{ form_row(form.publishEnd) }}
            </div>
        </div>
        <div class="form-row text-center">
            {{ form_row(form.rechercher) }}
            {{ form_end(form) }}
        </div>
    </form>
    <div class="row justify-content-center">
        <a href="{{ path('create_post') }}" class="btn btn-sm btn-info">Créer un article</a>
    </div>
    <table class="table text-center">
        <thead>
        <tr>
            {{ form_start(form) }}
            <th scope="col" class="align-middle">Titre</th>
            <th scope="col" class="align-middle">Date de publication</th>
            <th scope="col" class="align-middle">Catégorie(s)</th>
            <th scope="col" class="align-middle">Exclusif</th>
            <th scope="col" class="align-middle">Auteur</th>
            <th scope="col" class="align-middle">Opération(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="align-middle">{{ post.title }}</td>
                <td class="align-middle">{{ post.publishAt|date('d-m-Y') }}</td>
                <td class="align-middle">
                    <ul>
                        {% for category in post.categories %}
                            <li class="badge badge-dark">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="align-middle">{{ post.vip?'Accès VIP':'Public' }}</td>
                <td class="align-middle">{{ post.user.firstName }} {{ post.user.lastName }}</td>
                <td><a href="#" class="btn-sm btn-outline-dark dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="fas fa-cogs"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{{ path('update_post', {slug : post.slug }) }}">Modifier</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{{ path('delete_post', {slug: post.slug, _csrf_token: csrf_token('delete_post')}) }}">Supprimer</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}