{% extends 'general/base.html.twig' %}
{% block title %}Rédiger un article{% endblock %}
{% block body %}
    <h1>Rédiger un article</h1>
    <div class="container">

        {{ form_start(formPost) }}

        {{ form_end(formPost) }}
    </div>

{% endblock %}