{% extends 'general/base.html.twig' %}
{% block title %}Articles{% endblock %}
{% block body %}
    <h1>Liste des articles</h1>
    <hr>
    <div class="container">
        {% if form is defined %}
            <form class="row justify-content-around align-items-center">
                {{ form_start(form) }}
                <div class="form-row text-center">
                    <div class="col">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.vip) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.category) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.limit) }}
                    </div>
                </div>
                <div class="form-row text-center">
                    <div class="col">
                        {{ form_row(form.publishStart) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.publishEnd) }}
                    </div>
                </div>
                <div class="form-row text-center">
                    {{ form_row(form.rechercher) }}
                    {{ form_end(form) }}
                </div>
            </form>
        {% endif %}
        <div class="pagination pagination-sm justify-content-center">
            {{ knp_pagination_render(posts) }}
        </div>
        <div class="row justify-content-around">
            {% for post in posts %}
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="{{ post.picture }}" width="200px" alt="{{ post.title }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ post.title|u.truncate(25, '...') }}</h5>
                        <p class="card-text">{{ post.content|u.truncate(80, '...') }}</p>
                        <hr>
                        <div class="col align-items-center">
                            <span class="badge badge-info">{{ post.comments.count }} commentaire(s)</span><br>
                            <span class="badge">Catégorie(s) :
                            {% for category in post.categories %}
                                <a href="{{ path('app_posts_by_category', { category: category.name}) }}"
                                   class="badge badge-pill">{{ category.name|capitalize }}</a>
                            {% endfor %}
                            </span>
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            <a href="{{ path('get_post_public', {slug: post.slug}) }}" class="btn btn-dark">Voir
                                plus</a>
                            {% if post.vip %}
                                <p><i class="fas fa-user-lock mt-2"></i> Réserver aux membres</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
