{% extends 'general/base.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <hr>
        <img src="{{ post.picture }}" alt="{{ post.title }}">
        <hr>
        <p>{{ post.content }}</p>
        <p class="badge">Catégorie : </p>
        {% for category in post.categories %}
            <a href="{{ path('app_posts_by_category', { category: category.name}) }}"
               class="badge badge-pill">{{ category.name|capitalize }}</a>
        {% endfor %}
        <hr>
        <div class="col">
            <p>Publié le : {{ post.publishAt|date('d-m-Y') }} - Par : {{ post.user.firstName }}</p>
        </div>
        <hr>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row justify-content-center">
                <a href="{{ path('update_post', { slug: post.slug }) }}" class="btn btn-dark mr-2">Modifier</a>
                <a href="{{ path('delete_post', { slug: post.slug, _csrf_token: csrf_token('delete_post')}) }}"
                   class="btn btn-secondary ml-2">Supprimer</a>
            </div>
            <hr>
        {% endif %}
        <section>
            <h2>Commentaire(s)</h2>
            <hr>
            {% for comment in comments|reverse %}
                <h4>{{ comment.title }}</h4>
                <div class="row">
                    <div class="col-md-10">
                        <p>{{ comment.content }}</p>
                        <hr>
                        <p>Par : {{ comment.user.firstName }} - Le : {{ comment.publishAt|date(('d-m-Y')) }}</p>
                    </div>
                    <hr>
                    {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_USER') and app.user == comment.user %}
                        <div class="col-md-2">
                            <div class="row justify-content-around">
                                <a href="{{ path('update_comment', {slug: post.slug, id: comment.id}) }}"
                                   class="btn btn-sm btn-dark">Modifier</a>
                                <a href="{{ path('app_delete_comment', {slug: post.slug, id: comment.id, _csrf_token: csrf_token('delete_comment')}) }}"
                                   class="btn btn-sm btn-danger">Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <hr>
            {% if is_granted('ROLE_USER') %}
                <h3>Ajouter un commentaire</h3>
                {{ form_start(formComment) }}
                {{ form_end(formComment) }}
            {% else %}
                <p class="text-center">Vous devez être connecté pour écrire un commentaire :
                    <a href="{{ path('app_login') }}" class="btn-sm btn btn-primary">Se connecter</a>
                    <a href="{{ path('app_logout') }}" class="btn-sm btn btn-secondary">S'enregistrer</a>
                </p>
            {% endif %}
        </section>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(comments) }}
        </div>
        <section class="lastpost" id="lastpost">
            <h2 class="mt-2">Dernières actualités</h2>
            <hr>
            <div class="row allCard">
                {% for post in posts %}
                    <div class="col-md-3 cardperso">
                        <img src="{{ post.picture }}" alt="photo">
                        <h5>{{ post.title|u.truncate(15, '...') }}</h5>
                        <p>{{ post.content|u.truncate(100, '...') }}</p>
                        <hr>
                        {% if post.vip %}
                            <span class="text-center"><strong>Article exclusif </strong>
                                    <i class="fa fa-key"></i>
                                </span>
                        {% endif %}
                        <span>
                                <p class="badge badge-dark">{{ post.comments.count }} commentaire(s)</p>
                            </span>
                        <hr>
                        <div class="row justify-content-center">
                            {% if post.vip and not is_granted('ROLE_USER') %}
                                <a href="{{ path('app_login') }}" class="button button-grey">Se connecter</a>
                            {% else %}
                                <a href="{{ path('get_post_public', {slug: post.slug}) }}"
                                   class="button button-grey">Voir
                                    plus</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}