{% extends 'admin/index.html.twig' %}
{% block title %}Administration des utilisateurs{% endblock %}
{% block content %}
        <h1 class="mt-2">Administration des utilisateurs</h1>
        <hr>
        <div class="row justify-content-around align-items-center">
            <table class="table text-center">
                <thead>
                <tr>
                    {{ form_start(form) }}
                    <th scope="col" class="align-middle">Nom{{ form_row(form.firstName) }}</th>
                    <th scope="col" class="align-middle">Prénom{{ form_row(form.lastName) }}</th>
                    <th scope="col" class="align-middle">Email{{ form_row(form.email) }}</th>
                    <th scope="col" class="align-middle">Droit{{ form_row(form.roles) }}</th>
                    <th scope="col" class="align-middle">Actif{{ form_row(form.isVerified) }}</th>
                    <th scope="col" class="align-middle">Bannissement{{ form_row(form.isEnabled) }}</th>
                    <th scope="col" class="align-middle">Article(s) rédigé(s)</th>
                    <th scope="col" class="align-middle">Commentaire(s) rédigé(s)</th>
                    <th scope="col" class="align-middle">Profil</th>
                    <th scope="col" class="align-middle">Opérations</th>
                    {{ form_row(form.limit) }}
                    {{ form_row(form.rechercher) }}
                    {{ form_end(form) }}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="align-middle">{{ user.firstname|upper }}</td>
                        <td class="align-middle">{{ user.lastname|capitalize }}</td>
                        <td class="align-middle">{{ user.email }}</td>
                        <td class="align-middle">
                            <ul style="list-style: none">
                                {% for role in user.roles %}
                                    {% if role == 'ROLE_USER' %}
                                        <li class="badge badge-success">Utilisateur</li>
                                    {% elseif role == 'ROLE_EDITOR' %}
                                        <li class="badge badge-primary">Editeur</li>
                                    {% elseif role == 'ROLE_ADMIN' %}
                                        <li class="badge badge-danger">Administrateur</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="align-middle">{{ user.isverified?'Oui':'Non' }}</td>
                        <td class="align-middle"><a href="#"
                                                    class="badge badge-danger rounded">{{ user.isenabled?'':'Banni' }}</a>
                        </td>
                        <td class="align-middle"><a href="{{ path('app_profil_user', { slug: user.slug }) }}" class="btn btn-sm btn-outline-primary rounded">{{ user.posts.count }}</a></td>
                        <td class="align-middle"><a href="{{ path('app_profil_user', { slug: user.slug }) }}" class="btn btn-sm btn-outline-secondary rounded">{{ user.comments.count }}</a></td>

                        <td class="align-middle"><a href="{{ path('app_profil_user', { slug: user.slug }) }}"
                                                    class="btn btn-sm btn-info">Voir</a>
                        </td>
                        <td class="align-middle"><a href="#" class="btn-sm btn-outline-dark dropdown-toggle"
                                                    data-toggle="dropdown">
                                <i class="fas fa-cogs"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   href="{{ path('app_update_user', {slug : user.slug }) }}">Modifier</a>
                                {% if user.isenabled %}
                                    <a class="dropdown-item"
                                       href="{{ path('block_user', {slug: user.slug, _csrf_token: csrf_token('block_user')}) }}">Bloquer</a>
                                {% else %}
                                    <a class="dropdown-item"
                                       href="{{ path('block_user', {slug: user.slug, _csrf_token: csrf_token('block_user')}) }}">Débloquer</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{{ path('delete_user', {slug: user.slug, _csrf_token: csrf_token('delete_user')}) }}">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
{% endblock %}
