{% extends 'general/base.html.twig' %}
{% block title %}Profil de {{ user.lastName }}{% endblock %}
{% block body %}
    <div class="container">
        <h1>Profil {{ user.lastName }}</h1>
        <hr>
        <div class="row card text-center">
            <ul style="list-style: none" class="mt-2">
                <li><strong>Nom :</strong>{{ user.firstName }}</li>
                <li><strong>Prénom :</strong>{{ user.lastName }}</li>
                <li><strong>Email :</strong>{{ user.email }}</li>
            </ul>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h3>Droits</h3>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_USER' %}
                            <p class="badge badge-success mr-2">Utilisateur</p>
                        {% elseif role == 'ROLE_EDITOR' %}
                            <p class="badge badge-info mr-2">Editeur</p>
                        {% elseif role == 'ROLE_ADMIN' %}
                            <p class="badge badge-danger mr-2">Administrateur</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3>Statut(s)</h3>
                    <div class="row justify-content-center">
                        {% if user.isVerified %}
                            <p class="badge badge-success">Adresse email confirmé</p>
                        {% elseif not user.isVerified %}
                            <p class="badge badge-warning">Adresse email non validé</p>
                        {% endif %}
                        {% if not user.isenabled %}
                            <p class="badge badge-danger">Utilisateur banni</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <h2>Opération(s)</h2>
            <div class="col justify-content-center">
                <a href="{{ path('app_update_user', {slug : user.slug }) }}" class="btn btn-secondary">Modifier</a>
                <a href="{{ path('app_update_password', {slug : user.slug, _csrf_token: csrf_token('update_password') }) }}"
                   class="btn btn-sm btn-warning">Changer de mot de passe</a>
            </div>
        </div>
        <section class="mt-3">
            <h2>Activité</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h4>{{ user.posts.count }} article(s) rédigé(s)</h4>
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date de publication</th>
                            <th>Commentaire(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in user.posts %}
                            <tr>
                                <td><a href="{{ path('get_post_public', {slug: post.slug}) }}">{{ post.title }}</a></td>
                                <td>
                                    <a href="{{ path('get_post_public', {slug: post.slug}) }}">{{ post.publishat|date('d-m-Y') }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('get_post_public', {slug: post.slug}) }}">{{ post.comments.count }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h3>{{ user.comments.count }} commentaire(s) rédigé(s)</h3>
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Titre commentaire</th>
                            <th>Date de publication</th>
                            <th>Article</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in user.comments %}
                            <tr>
                                <td>
                                    <a href="{{ path('get_post_public', {slug: comment.post.slug}) }}">{{ comment.title }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('get_post_public', {slug: comment.post.slug}) }}">{{ comment.publishat|date('d-m-Y') }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('get_post_public', {slug: comment.post.slug}) }}">{{ comment.post.title }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
{% endblock %}